@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat:wght@200;400;500&family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');

:root {
    --header-height: 3rem;


    /************************* Colours **************************/

    --hue-colour: 102;

    --sage: hsl(var(--hue-colour), 34%, 73%);
    --sage-lighter: hsl(var(--hue-colour), 34%, 82%);
    --sage-dull: hsl(var(--hue-colour), 8%, 61%);
    --sage-dark: hsl(var(--hue-colour), 8%, 30%);
    --black: hsl(var(--hue-colour), 8%, 8%);
    --white: hsl(var(--hue-colour), 60%, 99%);
    --container-colour: #FFF; 
 

    /************************* Fonts **************************/

    --body-font: 'Montserrat', sans-serif;

    --big-font: 2.3rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;

    --font-medium: 500;
    --font-semi-bold: 600;
    
    /************************* Margins **************************/
    
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}
    /*********************** Large Devices ************************/

    @media screen and (min-width: 968px) {
        :root {
            --big-font-size: 3rem;
            --h1-font-size: 2.25rem;
            --h2-font-size: 1.5rem;
            --h3-font-size: 1.25rem;
            --normal-font-size: 1rem;
            --small-font-size: .875rem;
            --smaller-font-size: .813rem;
        }
    }

    /*************************  Base ****************************/
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
      }

      html {
        scroll-behavior: smooth;
      }
      
      body {
        margin: 0 0 var(--header-height) 0;
        font-family: var(--body-font);
        font-size: var(--normal-font-size);
        background-color: white;
        color: var(--sage-dull);
      }

      h1, h2, h3, h4 {
        color: var(--black);
        font-weight: var(--font-semi-bold);
      }

      ul {
        list-style: none;
      }
      
      a {
        text-decoration: none;
      }
      
      img {
        max-width: 100%;
        height: auto;
      }

      /*************************  Reusable CSS Classes ****************************/

      .section {
        padding: 2rem 0 4rem;
      }
      
      .section_title {
        font-size: var(--h1-font-size);
        color: var(--black);
      }
      
      .section_subtitle {
        display: block;
        font-size: var(--small-font-size);
        margin-bottom: var(--mb-3);
      }
      
      .section_title, 
      .section_subtitle {
        text-align: center;
      }

      /*Layout*/
      .container {
        max-width: 768px;
        margin-left: var(--mb-1-5);
        margin-right: var(--mb-1-5);
      }
      
      .grid {
        display: grid;
        gap: 1.5rem;
      }

      .header {
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: var(--z-fixed);
        background-color: var(--white);
      }

      /*************************  Nav Bar ****************************/

      .nav {
          max-width: 968px;
          height: var(--header-height);
          display: flex;
          justify-content: space-between;
          align-items: center;

      }

      .nav_logo,
      .nav_toggle {
        color: var(--black);
        font-weight: var(--big-font-size);
        font-size: 2rem;
        margin-top: 0.8rem;
        font-family: 'Comforter Brush', cursive;
      }

      .nav_logo:hover {
        color: var(--sage-dull);
      }

      .nav_toggle {
          font-size: 1.1rem;
          cursor: pointer;

      }

      .nav_toggle:hover {
          color: var(--sage-dull);
      }

      @media screen and (max-width: 767px) {
          .nav_menu {
              position: fixed;
              bottom: -100%;
              left: 0;
              width: 100%;
              background-color: hsl(var(--hue-colour), 34%, 92%);
              padding: 2rem 1.5rem 4rem;
              box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
              border-radius: 1.5rem 1.5rem 0 0;
              transition: 0.3s;
          }
      }

    
      .nav_link {
          display:flex;
          flex-direction: column;
          align-items:center;
          font-size: var(--small-font-size);
          color: var(--black);
          font-weight: var(--font-medium);
      }

      
      .nav_link:hover {
          color: var(--sage-dull);
      }

      .nav_close {
          position: absolute;
          right: 1.3rem;
          bottom: 0.5rem;
          font-size: 1.5rem;
          cursor: pointer;
          color: var(--sage-dull)
      }

      .nav_close:hover {
          color: var(--sage)
      }

      .show-menu {
          bottom: 0;
      }

      /*************************  Home Page ****************************/

      .home_container {
          gap: 1rem;
      }

      .home_content {
          grid-template-columns: 0.5fr 3fr;
          padding-top: 3.5rem;
          align-items: center;
      }

      .home_social {
          display: grid;
          grid-template-columns: max-content;
          row-gap: 1rem;
      }

      .home_social-icon {
          font-size: 1.8rem;
          color: var(--sage-dull);
      }

      .home_social-icon:hover {
        color: var(--sage-lighter);
    }

    .home_img {
        width: 250px;
    }

    .home_data {
        grid-column: 1/3;
    }

    .home_title {
        font-size: var(--big-font);
    }

    .home_subtitle {
        font-size: 24px;
        color: hsl(var(--hue-colour), 34%, 50%);
        font-weight: var(--font-medium);
        margin-bottom: var(--mb-0-25);
    }

    .home_description {
        margin-bottom: var(--mb-2);
        color: var(--sage-dull);
        line-height: 18pt;
        font-weight: 410;
        font-size: 18px;
    }
    .visit {
        margin-bottom: 3rem;
    }

    .home_scroll-button {
        color: var(--sage-dull);
    }

    .home_scroll:hover {
        transform: translateY(0.25rem);
        transition: 0.3s;
    }

    /************************* About Page **************************/

    .about_me_title {
        color: hsl(var(--hue-colour), 34%, 30%);
        font-size: var(--h1-font-size);
        text-align: center;  
    }

    .about_description {
        margin-top: var(--mb-1-5);
        text-indent: 55px;
        line-height: 20pt;
        color: rgb(119, 120, 119);
        font-weight: 410;
        font-size: 18px;
        
    }

    .about_description2 {
        line-height: 20pt;
        color: rgb(119, 120, 119);
        font-weight: 410;
        font-size: 18px;
    }

    .about_item {
        color: rgb(119, 120, 119);
        font-weight: 410;
        font-size: 18px;
    }




    /************************* Skills Page **************************/

    .skills_container {
        row-gap: 0;
    }

    .skills_main_title {
        color: hsl(var(--hue-colour), 34%, 30%);
        font-size: var(--h1-font-size);
        text-align: center;  
        margin-bottom: 2rem;
    }

    .skills_header {
        display: flex;
        align-items: center;
        margin-bottom: var(--mb-2-5);
        cursor: pointer;
    }

    .skills_icon,
    .skills_arrow {
        font-size: 2rem;
        color:var(--sage);
    }

    .skills_icon {
        margin-right: var(--mb-0-75);
    }

    .skills_title {
        font-size: var(--h3-font-size);
    }

    .skills_arrow {
        margin-left: auto;
        transition: 0.4s;
    }

    .skills_titles {
        display: flex;
        justify-content: space-between;
        margin-bottom: var(--mb-0-5);
    }

    .skills_name {
        font-size: var(--normal-font-size);
        font-weight: var(--font-medium);
    }

    .skills_bar,
    .skills_percentage {
        height: 5px;
        border-radius: 0.25rem;
    }

    .skills_bar {
        background-color: hsl(var(--hue-colour), 34%, 92%);
    }

    .skills_percentage {
        display: block;
        background-color: var(--sage-dull);
    }

    .skills_c{
        width: 90%;
    }

    .skills_java{
        width: 85%;
    }

    .skills_javascript{
        width: 70%;
    }

    .skills_html{
        width: 80%;
    }

    .skills_css{
        width: 85%;
    }

    .skills_cplus{
        width: 60%;
    }

    .skills_react{
        width: 75%;
    }



    .skills_springboot{
        width: 65%;
    }

    .skills_bootstrap{
        width: 65%;
    }


    .skills_git{
        width: 75%;
    }

    .skills_linux{
        width: 75%;
    }

    .skills_mysql{
        width: 80%;
    }

    .skills_figma{
        width: 70%;
    }

    .skills_canva{
        width: 90%
    }

    .skills_close .skills_list {
        height: 0;
        overflow: hidden;
    }

    .skills_open .skills_list {
        height: max-content;
        margin-bottom: var(--mb-2-5);
    }

    .skills_open .skills_arrow {
        transform: rotate(-180deg);
    }

    /************************* Resume **************************/

    .button {
        background-color: var(--sage-dark);
        color: #FFF;
        padding: 1rem;
        border-radius: 0.5rem;
        font-weight: var(--font-medium);
    }

    .resume_title {
        color: hsl(var(--hue-colour), 34%, 30%);
        font-size: var(--h1-font-size);
        text-align: center;  
        margin-bottom: 2rem;
    }

    .button_center {
        margin-top: 5rem;
        display: flex;
        justify-content: center;
        text-align: center;
        
    }

    .button:hover {
        background-color: var(--sage-dull);
        transition-duration: .5s;
    }

    .button_icon {
        font-size: 1.25rem;
        margin-left: var(--mb-0-5);
        transition: .3s;
    }

    /************************* Footer **************************/
    
    .footer {
        padding-top: 2rem;
    }

    .footer_container {
        row-gap: 2.5rem;
    }

    .footer_bg {
        background-color: var(--sage-dull);
        padding: 2rem 0 3rem;
    }

    .footer_title {
        font-size: var(--h1-font-size);
        margin-bottom: var(--mb-0-25);
        color: var(--white);
    }
 
    .footer_subtitle {
        font-size: var(--small-font-size);
    }

    .footer_social-icon {
        font-size: 1.8rem;
        color: var(--white);
        padding-right: 1rem;
    }

    .footer_social-icon:hover {
      color: var(--sage-lighter);
    }

    .footer_copy {
        font-size: var(--smaller-font-size);
        text-align: center;
        color: var(--sage-lighter);
    }


    /************************* Scroll Up **************************/
    .scrollup {
        position: fixed;
        right: 1rem;
        bottom: 5rem;
        background-color: var(--sage-lighter);
        opacity: 0.8;
        padding: 0 0.3rem;
        border-radius: 0.4rem;
        z-index: var(--z-tooltip);
        transition: 0.4s;
    }

    .scrollup:hover {
        background-color: var(--sage-dark);
    }

    .scrollup_icon {
        font-size: 1.5rem;
        color: white;
    }

    /************************* Media Queries **************************/



    /* Small device */

    @media screen and (max-width: 350px) {
        .container {
            margin-left: var(--mb-1);
            margin-right: var(--mb-1);
        }

        .nav_menu {
            padding: 2rem 0.25rem 4rem;
        }

        .nav_list {
            column-gap: 0;
        }

        .home_content {
            grid-template-columns: 0.25fr 3fr;
        }

        .skills_title {
            font-size: var(--normal-font-size)
        }


    }

    /* Medium device */
      
    @media screen and (min-width: 568px) {
        .home_content {
            grid-template-columns: max-content 1fr 0.5fr;
        }

        .home_scroll-button {
            padding-left: 6rem;
        }

        .home_data {
            grid-column: initial;
            padding-left: 3rem;
        }

        .home_img {
            order: 1;
            justify-self: center;
        }

        .about_description,
        .about_description2 {
            padding: 2rem 2rem;
        }

        .about_item {
            padding-left: 5rem;
        }

        .skills_container {
            padding: 5rem 5rem;
        }   

        .skills_main_title {
            margin-bottom: .5rem;
        }
    }


    /* Large device */

    @media screen and (min-width: 768px) {
        .container {
            margin-left: auto;
            margin-right: auto;
        }

        .home_description {
            width: 35rem;
        }

        .home_container {
            margin-left: 22%;
        }

        
        .home_title {
            font-size: 4rem;
        }

        .section {
            padding: 6rem 0 2rem
        }

        .about_description,
        .about_description2 {
            width: 60rem;
            margin-left: -5rem;
        }

        .skills_main_title {
            margin-top: 3rem;
        }

        .header {
            top: 0;
            bottom: initial;
            background-color: hsl(var(--hue-colour), 34%, 92%);;
        }

        .header,
        .main,
        .footer_container {
            padding: 0;
        }

    
        .nav {
            height: calc(--header-height) + 1.5rem;
            column-gap: 1rem;
            background-color: hsl(var(--hue-colour), 34%, 92%);
            margin: 0;
            padding: 0;
        }

        .nav_container {
            margin-top: 1rem;
        }

        .nav_logo {
            margin-left: 1rem;
            
        }

        .nav_icon,
        .nav_close,
        .nav_toggle {
            display: none;
        }

        .nav_list {
            display: flex;
            column-gap: 3rem;
        }

        .nav_menu {
            float: right;
            margin-right: 2rem;
        }

        .footer_container {
           margin-left: 10rem;
        }

        .footer_copy {
            text-align:justify;
        }
        
        
        

        .scrollup {
            margin-right: 8rem;
        }
    }

      

      



      

    

